.start{
  width: 200px;
  height: 150px;

  color:yellow;
  background-color: red;

  text-align: center;
  margin-top: 10%;

  font-size: 50px;

  border-radius: 10px;
}
.btncnt{
  text-align: center;
}
a{
  color: yellow;
}
